@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Fjalla+One&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font-family: 'Didact Gothic', sans-serif;
font-family: 'Fjalla One', sans-serif;
font-family: 'Work Sans', sans-serif; 
*/

/* general styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -------header-------- */

/* Div Headline */
.div-headline {
    margin:80px auto 50px auto;
    width: 500px;   
    font-size: 50px;
    font-weight: lighter;
    font-family: 'Didact Gothic', sans-serif;
    text-align: center;
}


/* Foto 1 */
.div-img-footos{
    width: 720px;
    height: 1080px;
    margin:0 auto;
}

img {
    object-fit: cover;
}

/* Headline 2 */
h2 {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    text-align: center;
    font-size: 160px;
    text-transform: uppercase;
    margin: 80px auto;

}

/* Part 1 / ORBIS */

.div-img-footos2 {
    background-image: url("../img/foto2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    margin:0 auto;
    text-align: center;
}